

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

/* .App header {
  background-color: #181717;
  height: 10vh;
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
} */

/* .App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  
} */

main {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: rgb(40, 37, 53);
}

.chat-form {
  height: 100%;
  position: relative;
  bottom: 0;
  background-color: black;
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
}

.chat-form button {
  width: 20%;
  background-color: rgb(56, 56, 143);
}



button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
}




ul, li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}


.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}